.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-content .logo {
  color: var(--brown-text);
  padding-top: 20px;
  padding-left: 5%;
  font-size: 35px;
  font-family: "Poppins Bold";
}

.colz {
  padding-right: 10%;
}

.colz .colz-icon i {
  color: var(--brown-text);
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 35px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1188px) {
  .colz .colz-icon i {
    margin-top: 4%;
    padding-right: 0;
    padding-left: 20px;
  }
}

@media screen and (max-width: 499px) {
  .colz .colz-icon i {
    margin-top: 5%;
    padding-right: 0;
    padding-left: 20px;
    font-size: 20px;
  }
}
